# Core dependencies
curl-cffi==0.11.3

# Apify SDK
apify>=2.0.0

# Data handling
python-dateutil>=2.8.0

# Logging
colorlog>=6.8.0

# lbc api - Public repository
git+https://github.com/y-aoub/lbc_.git

